<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>멘토 점수 조회</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
	<div class="main">

		<div th:insert="~{./header :: header}"></div>

		<section>
			<h1>멘토 점수 조회</h1>
		</section>

		<table>
	<tr>
		<th>참가번호</th>
		<th>참가자명</th>
		<th>생년월일</th>
		<th>점수</th>
		<th>등급</th>
		<th>멘토</th>
	</tr>
	<tr th:each="point: ${pointList}">
		<td th:text="${point.artist_id}"></td>
		<td th:text="${point.artist_name}"></td>
		<td th:text="${point.artist_birth}"></td>
		<td th:text="${point.point}"></td>
		<td th:text="${point.grade}"></td>
		<td th:text="${point.mento_name}"></td>
	</tr>
</table>

		<div th:insert="~{./footer :: footer}"></div>
	</div>
</body>
</html>