* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    position: relative;
    width: 1200px;
    height: 650px;
    display: flex;
}

/* 헤더 */
header {
    width: 200px;
    height: 650px;
    background-color: #b3d988;
}

.logo {
    width: 200px;
    height: 60px;
    background-color: #00ff95;
}

.nav {
    width: 200px;
    height: 100px;
    background-color: #2f7e5d;
}

/* 메인 */
.main {
    width: 800px;
    height: 650px;
    background-color: #888;
}

/* 슬라이드 */
.slideContent {
    height: 350px;
    background-color: #1a8cff;
}

/* 공지사항 */
.content {
    height: 200px;
    background-color: #0059b3;
    display: flex;
}

.con1 {
    width: 33.33%;
    background-color: yellowgreen;
}

.con2 {
    width: 33.33%;
    background-color: pink;
}

.con3 {
    width: 33.33%;
    background-color: yellowgreen;
}

/* 푸터 */
footer {
    display: flex;
    align-items: center;
}
footer p {
    width: 90%;
    text-align: center;
}
.bottomRight {
    display: flex;
    flex-wrap: wrap;
}
.bottomRight > * {
    width: 100%;
    height: 50px;
    text-align: center;
}
.sns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.sns li {
    width: 16%;
}
.sns li img {
    width: 10px;
}
.sns, .familySite {
    line-height: 50px;
}