<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 내용 보기</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div th:insert="~{./header :: header}"></div>
		
		<section>
			<h1>회원 정보 상세보기</h1>
		</section>
		
		<table>
        <tr>
            <th>회원번호</th>
            <td th:text="${member.custno}"></td>
        </tr>
        <tr>
            <th>회원성명</th>
            <td th:text="${member.custname}"></td>
        </tr>
        <tr>
            <th>연락처</th>
            <td th:text="${member.phone}"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td th:text="${member.address}"></td>
        </tr>
        <tr>
            <th>가입일자</th>
            <td th:text="${member.joindate}"></td>
        </tr>
        <tr>
            <th>고객등급</th>
            <td th:text="${member.grade}"></td>
        </tr>
        <tr>
            <th>도시코드</th>
            <td th:text="${member.city}"></td>
        </tr>
    </table>
	</div>
    
   <!--  <button onclick="listReq()">목록</button> -->
    <button onclick="updateReq()">수정</button>
    <button onclick="deleteReq()">삭제</button>
    
    <div th:insert="~{./footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const listReq = () => {
        location.href = "/list";
    }
    const updateReq = () => {
        location.href = `/update/[[${member.custno}]]`;
    }
    const deleteReq = () => {
        location.href = `/delete/[[${member.custno}]]`;
    }
</script>
</html>