<list>
	<table>
        <tr>
            <th>회원번호</th>
            <th>회원성명</th>
            <th>연락처</th>
            <th>주소</th>
            <th>가입일자</th>
            <th>고객등급</th>
            <th>도시코드</th>
        </tr>
        <tr th:each="member: ${memberList}">
            <td th:text="${member.custno}"></td>
            <td>
                <a  th:text="${member.custname}" th:href="@{|/${member.custno}|}"></a>
            </td>
            <td th:text="${member.phone}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${member.joindate}"></td>
            <td th:text="${member.grade}"></td>
            <td th:text="${member.city}"></td>
        </tr>
    </table>
</list>