div {
    background-color: coral;
    width: 200px;
    height: 100px;
    border: 1px solid;
}

.visible {

    overflow: visible;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.xy {
    overflow-x: hidden;
    overflow-y: scroll;
}